/* lato-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v23-latin-regular.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v23-latin-700.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v23-latin-900.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper-full {
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
}

.section-title::after {
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Header */
.header {
    /* background-color: blueviolet; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    padding-bottom: 20px;
}

.header_active {
    background: #0E1D28;
    z-index: 10;
}

.header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 56px;
}

.header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.header__item {
    margin-right: 82px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-size: 18px;
    line-height: 24px;
    color: #FFF;
    text-decoration: none;
}

.item {
    width: 200px;
    height: 100px;
    background-color: green;
    padding: 20px;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
    opacity: 0.75;
}

.header__burger {
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
}

.burger__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FFF;
    position: absolute;
    left: 0;

}

.burger__line_first {
    top: 0;
}

.burger__line_second {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.burger__line_third {
    bottom: 0;
}

@media screen and (max-width: 960px) {
    .header__logo {
        padding-left: 20px;
    }
}

@media screen and (max-width: 768px) {
    .header__burger {
        display: block;
    }

    .header__nav {
        /* display: none; */
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #0E1D28;
        z-index: 7;
        padding: 75px;
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
        -webkit-transition: 0.2s all linear;
        -o-transition: 0.2s all linear;
        transition: 0.2s all linear;
    }

    .header__nav_active {
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }

    .header__item:last-child {
        margin-bottom: 0;
    }

    .header__item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .header__link {
        font-size: 42px;
        line-height: 48px;
    }

    .header__nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 8;
    }

    .header__nav-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
    }

    .header__nav-close-line:first-child {
        -webkit-transform: translateY(-50%) rotate(45deg);
            -ms-transform: translateY(-50%) rotate(45deg);
                transform: translateY(-50%) rotate(45deg);
    }

    .header__nav-close-line:last-child {
        -webkit-transform: translateY(-50%) rotate(-45deg);
            -ms-transform: translateY(-50%) rotate(-45deg);
                transform: translateY(-50%) rotate(-45deg);
    }
}

@media screen and (max-width: 500px) {
    .header__nav {
        padding: 75px 30px;
    }

}
/* header styles end */

/* intro styles start */
.intro {
    min-height: 100vh;
    background: url('../img/intro-bg-min.jpg') center no-repeat;
    background-size: cover;
    padding-top: 263px;
}

.intro__title {
    max-width: 619px;
    color: #FFF;
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    margin-bottom: 22px;
}

.intro__subtitle {
    max-width: 546px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 59px;
}

.search-form__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.search-form__field {
    width: 297px;
    background: transparent url('../img/svg/circle-icon.svg') no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-size: 18px;
    font-weight: 500;
    color: #FFF;

}

.search-form__field::-webkit-input-placeholder {
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
}

.search-form__field::-moz-placeholder {
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
}

.search-form__field:-ms-input-placeholder {
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
}

.search-form__field::-ms-input-placeholder {
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
}

.search-form__field::placeholder {
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
}

.search-form__submit {
    padding: 15px 39px;
    text-transform: uppercase;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    background: #1B7DFF;
    border: 0;
}

.search-form__submit:hover,
.search-form__submit:focus,
.search-form__submit:active {
    background: #1b61ff;
}

@media screen and (max-width: 960px) {
    .search-form__field {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        padding-top: 150px;
    }

    .intro__title {
        font-size: 50px;
    }
    .intro__subtitle {
        font-size: 18px;
    }

    .search__fortm-info::first-child {
        margin-bottom: 40px;
    }
    .search-form__field {
        margin-right: 0;
    }
    .search-form__submit {
        width: 100%;
    }
    .search-form__wrap {
        padding-bottom: 200px;
    }
}

/* intro styles end */

/* benefits styles start */
.benefits {
    margin-bottom: 131 px;
}

.benefits__wrap {
    max-width: 1262px;
    background-color: #fff;
    margin: 0 auto;
    -webkit-box-shadow: 0 2px 20px rgba(21, 24, 36, 0.15993);
            box-shadow: 0 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits__title {
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    background-color: #fff;
}

.benefits__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 55px 1fr 55px 1fr;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 55px;
    padding: 0 100px;
    margin-bottom: 131px;
}

.benefits__card {
    -ms-grid-column-span: 1;
    grid-column: span 1;
    margin-bottom: 112px;
}

.benefits__card-pic {
    max-width: 66px;
    margin-bottom: 37px;
}

.benefits__card-thumb {
    display: block;
}

.benefits__card-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 26px;
}

.benefits__card-desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}

.benefits__card-more {
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 116px;
    color: #006DFE;
    text-decoration: none;
    background: url('../img/svg/arrow.svg') no-repeat 95% center;
    -webkit-transition: 2s all;
    -o-transition: 2s all;
    transition: 2s all;
}

.benefits__card-more:hover,
.benefits__card-more:focus,
.benefits__card-more:active {
    background: url('../img/svg/arrow.svg') no-repeat right center;
}

@media screen and (max-width: 960px) {
    .benefits__cards {
        padding: 0 15px;
        column-gap: 35px;
        margin-bottom: 30px;
    }

    .benefits__title {
        padding: 50px 15px;
    }

    .benefits__wrap {
        -webkit-box-shadow: none;
                box-shadow: none;
    }

    .benefits {
        margin-bottom: 75px;
    }

    .benefits__card {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .benefits__card {
        -ms-grid-column-span: 3;
        grid-column: span 3;
        margin-bottom: -30px;

    }
    .benefits__card-pic {
        margin-left: 30px;
    }
    .benefits__card-title {
        font-size: 30px;
    }
    .benefits__card-desc {
        font-size: 18px;
    }
    .benefits__card-more {
        font-size: 19px;
    }
}
/* behefits end */

/* places start */

.places {
    margin-bottom: 131px;
}

.places__caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 36px;
}

.places__title {
    margin-right: 15px;
}

.places__view-all {
    padding-right: 59px;
    color: #006DFE;
    font-size: 16px;
    text-decoration: none;
    background: url('../img/svg/arrow.svg') no-repeat right center;
    -webkit-transition: 2s all;
    -o-transition: 2s all;
    transition: 2s all;
}

.places__view-all:hover,
.places__view-all:focus,
.places__view-all:active {
    opacity: 0.5;
}

.places__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
}

.places__card {
    position: relative;
    overflow: hidden;
}

.places__card:hover .places__card-pic {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

.places__card::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.40);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.places__card-title {
    font-size: 50px;
    line-height: 60px;
    color: white;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}

.places__card_size_lg {
    -ms-grid-column-span: 3;
    grid-column: span 3;
}

.places__card_size_sm {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    margin-top: 10px;
}

.places__card-pic {
    width: 100%;
    -webkit-transition: 15, all;
    -o-transition: 15, all;
    transition: 15, all;
}

.places__card-pic-size-lg {
    height: 354px;
    -o-object-fit: cover;
       object-fit: cover;
}

.places__card-pic-size-sm {
    height: 283px;
    -o-object-fit: cover;
       object-fit: cover;
}

.places__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

@media screen and (max-width: 960px) {
    .places__card_size_lg {
        -ms-grid-column-span: 6;
        grid-column: span 6;
        padding-bottom: 20px;
    }

    .places__card_size_sm {
        -ms-grid-column-span: 6;
        grid-column: span 6;
        padding-bottom: 20px;
    }

}

@media screen and (max-width: 768px) {
    .places__view-all {
        padding-top: 20px;
        font-size: 19px;
    }
}


/* places end */

/* tour start */

.tours {
    margin-bottom: 139px;
}

.tours__tour {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0 108px 1fr;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0 108px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 77px;
}

.tour__info {
    padding-left: 47px;
}

.tour__title {
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 85px;
    width: 357px;
}

.tour__desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 58px;
}

.tour__more {
    padding-right: 59px;
    color: #006DFE;
    font-size: 16px;
    text-decoration: none;
    background: url('../img/svg/arrow.svg') no-repeat right center;
}

.tour__more:hover,
.tour__more:focus,
.tour__more:active {
    opacity: 0.5;
}

@media screen and (max-width: 960px) {
    .tours__tour {
        column-gap: 35px;
    }
    .tour__info {
        padding-left: 0;
    }
    .tour__title {
        margin-bottom: 15px;
    }
    .tour__desc {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 768px) {
    .tours {
        margin-bottom: 0;
    }
    .tour__pic,
    .tour__info {
        -ms-grid-column-span: 2;
        grid-column: span 2;
    }

    .tour__pic:first-of-type {
        margin-bottom: 30px;
    }
    .tour__pic:last-of-type {
        margin-bottom: 30px;
        -ms-grid-row: -1;
            grid-row-start: -1;
    }
}

/* tour end */

/* top places start */

.top-places {
    margin-bottom: 85px;
}

.top-places__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-column-span: 2;
    grid-column: span 2;
}

.top-places__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 58px 1fr 58px 1fr 58px 1fr 58px 1fr 58px 1fr;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 58px;
}

.top-places__title {
    margin-bottom: 54px;
}

.top-places__card-pic {
    position: relative
}

.top-places__card-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(21, 24, 36, 0.60);
}

.top-places__card-title {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    padding: 16px 25px;
    margin: 0 auto 0 0;
}

.top-places__card-likes {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    padding-right: 20px;
    background: url('../img/svg/heart.svg') no-repeat right;
    /* margin-right: 14px; */

}

.top-places__card-comments {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    padding: 16px 20px 16px 16px;
    background: url('../img/svg/comment.svg') no-repeat right;
    margin-right: 20px;

}

.top-places__card-desc {
    color: #102746;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    margin-top: 45px;
    margin-bottom: 45px;

}

.top-places__card-more {
    width: 118px;
    height: 42px;
    margin: auto 0 0;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding: 19px 12px;
    background: #006effe7;
    text-decoration: none;

}

.top-places__card-more:hover,
.top-places__card-more:focus,
.top-places__card-more:active {
    background: #2985ff;
}

@media screen and (max-width: 960px) {
    .top-places__cards {
        column-gap: 25px;
    }
    .top-places__card {
        -ms-grid-column-span: 3;
        grid-column: span 3;
    }
    .top-places__card-more {
        margin-bottom: 25px;
    }
    .top-places__card-pic {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .top-places__card {
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }
    .top-places__card-more {
        width: 100%;
        text-align: center;
    }
    .top-places {
        margin-bottom: 40px;
    }

    .top-places__card-stats {
        max-width: 386px;
    }
}
/* top places end */


/* videos block start */
.videos {
    width: 100%;
}

.videos__wraper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;

}

.video__item {
    padding-top: 56.25%;
}

.video__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* videos block end */

/* footer block start */

.footer {
    background: #0E1D28;
    padding: 119px 0;
}

.footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.footer__logo {
    width: 50%;

}

.footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
}

.footer__menu-title {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.footer__menu-link {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    text-decoration: none;
}

.footer__menu-link:hover,
.footer__menu-link:focus,
.footer__menu-link:active {
    opacity: 0.75;
}

@media screen and (max-width: 960px) {
    .footer {
        padding: 60px 0;
    }
    .footer__logo {
        padding-left: 20px;
    }
}

@media screen and (max-width: 768px) {
    .footer__logo {
        width: 100%;
        margin-bottom: 12px;
    }
    .footer__nav {
        width: 100%;
    }

    .footer__menu {
        width: 50%;
        margin-bottom: 24px;
    }
}
/* footer block end */